@media(max-width:768px)
body{
    font-size:14px;
     background: linear-gradient(135deg, #fffdd0, 	#ffff95);
}
@media((max-width:480px)
body{
    fonte-size:12px;
     background: linear-gradient(135deg, #fffdd0, 	#ffff95);
}
body{
    font-family: sans-serif;
    color: #fffdd0;
    background: linear-gradient(135deg, #fffdd0, 	#ffff95);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
 
.foto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        border-radius: 100%;
        margin-bottom: 30px;
    }
.contato1 , .grupovip, .sac , .agendamento {
    display: block;   
    margin-left: auto;
    margin-right:auto ;
    width: 400px;
    margin-bottom: 40px;
}

